@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

.header {
  &__catalog-btn {
    width: 240px;
    height: 50px;
    padding: 15px 30px 15px 61px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-family: inherit;
    font-weight: 600;
    background-color: $white;
    border-radius: 6px;
    color: $green-900;
    outline: transparent;
    position: relative;
    transition: background-color 0.5s;

    @include max-w($xl) {
      margin-bottom: 10px;
    }

    @include max-w($l) {
      display: none;
    }

    &::before,
    &::after {
      @include pseudo;
      background-repeat: no-repeat;
      background-size: contain;
      width: 27px;
      height: 17px;
    }

    &::before {
      background-image: url(../images/icons/icon-header-btn-nav.svg);
      top: 17px;
      left: 18px;
    }

    &::after {
      background-image: url(../images/icons/icon-header-btn-arrows.svg);
      right: 18px;
      top: 24px;
      width: 8px;
      height: 7px;
      transition: transform 0.5s;
    }

    &:hover {
      background-color: $green-200;
    }

    &--active {
      background-color: $green-200;

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__top {
    padding: 14px 0;
    background-color: $dark-800;

    @include max-w($l) {
      padding: 1px 0;
    }
  }

  &__topinner {
    display: flex;
    justify-content: space-between;

    @include max-w($xl) {
      justify-content: space-between;
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;

    @include max-w($l) {
      padding: 11px 0;
    }
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-w($xl) {
      flex-direction: column;
    }

    @include max-w($l) {
      flex-direction: inherit;
    }
  }
}

.burger-btn {
  position: relative;
  width: 44px;
  height: 44px;
  display: none;

  @include max-w($l) {
    display: block;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/icons/icon-burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.media-menu {
  margin-left: -15px;
  max-width: 300px;
  position: absolute;
  top: 0;
  background-color: $white;
  transform: scale(0);

  &__wrapper {
    padding: 0 15px;
  }

  &__top {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
  }

  &__usernav {
    padding: 9px 0 7px;
    background-color: $green-900;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__login,
  &__registration {
    padding: 0 13px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    font-family: $open-sans;
    font-weight: 400;
  }

  &__login {
    border-right: 1px solid $white;
    position: relative;

    &:after {
      position: absolute;
      content: "";
    }
  }

  &__catalog-btn {
    padding: 15px 0;
    width: 100%;
    position: relative;
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    border-bottom: 1px solid rgba($silver-600, 0.3);
    &:before {
      position: absolute;
      content: "";
      background-image: url(../images/sprite.svg#icon-header-btn-nav);
      background-repeat: no-repeat;
      background-size: contain;
      left: 10px;
      top: 18px;
      width: 50px;
      height: 19px;
    }
  }

  &__btn {
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 32px;
    margin-right: 15px;
  }

  &__closebtn {
    width: 44px;
    height: 44px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url(../images/icons/icon-close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__address {
    padding: 24px 0;

    & .address__contacts-link {
      padding-left: 40px;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      font-family: $open-sans;
      font-weight: 400;
      color: $dark-800;
      position: relative;
      content: "";

      &::before {
        @include pseudo;
        background-repeat: no-repeat;
        background-size: contain;
        width: 32px;
        height: 22px;
        top: 0;
        left: 0;
      }

      &--tel::before {
        background-image: url(../images/icons/icon-telblack.svg);
      }

      &--map::before {
        background-image: url(../images/icons/icon-map.svg);
      }
    }

    & .social__link svg {
      fill: $black;
    }

    & .social {
      position: relative;

      &::before {
        position: absolute;
        content: "";
        left: 50%;
        bottom: -24px;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: rgba($silver-600, 0.3);
      }
    }
  }

  & .footer__menu {
    padding-top: 24px;
    column-count: 1;
    margin-left: 0;
  }

  & .footer__item {
    margin-bottom: 0;
  }

  & .footer__link {
    padding: 12px 0;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-800;
    display: block;
  }

  &--active {
    transform: scale(1);
    display: block;
    z-index: 1;
    overflow: scroll;
    max-height: 717px;
  }
}

.address-link {
  text-transform: uppercase;
  color: $white;
  font-size: 13px;
  line-height: 1.4;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.03em;
  transition: box-shadow 0.5s, color 0.5s, opacity 0.5s;
  position: relative;
  padding-left: 44px;
  margin-right: 48px;

  @include max-w($l) {
    font-size: 0;
  }

  &::before {
    @include pseudo;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 22px;
    left: 0;
    top: -2px;

    @include max-w($l) {
      left: 33px;
    }
  }

  &--address::before {
    background-image: url(../images/icons/icon-address.svg);
  }
}

.hotline-link {
  text-transform: uppercase;
  color: $white;
  font-size: 13px;
  line-height: 1.4;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.03em;
  transition: box-shadow 0.5s, color 0.5s, opacity 0.5s;
  position: relative;
  padding-left: 44px;

  @include max-w($l) {
    font-size: 0;
  }

  &::before {
    @include pseudo;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 22px;
    left: 0;
    top: -2px;

    @include max-w($l) {
      left: 7px;
    }
  }

  &--tel::before {
    background-image: url(../images/icons/icon-tel.svg);
  }
}

.menu {
  @include max-w($xl) {
    display: none;
  }
  display: flex;
  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    text-transform: uppercase;
    color: $white;
    font-size: 13px;
    line-height: 1.4;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 0.03em;
    transition: box-shadow 0.5s, color 0.5s, opacity 0.5s;
  }
}

.dropdown {
  width: 240px;
  top: 126px;
  position: absolute;
  background-color: $white;
  border-radius: 0 0 6px 6px;
  border: 1px solid $silver-100;
  z-index: 2;
  text-align: center;
  transform: translateY(-300%);
  transition: transform 0.5s;

  &--active {
    display: block;
    z-index: 1;
    transform: translateY(0);
  }

  &__item {
    border-bottom: 1px solid rgba($silver-600, 0.3);
    border-left: 3px solid transparent;
    transition: border 0.5s;
    &:hover {
      border-left: 3px solid $green-900;
    }
  }

  &__link {
    display: block;
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    letter-spacing: 0.03em;
    transition: color 0.5s;
    outline: transparent;
    text-align: left;
    padding-left: 24px;

    &:focus {
      color: $black;
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      color: $silver-600;
    }
  }
}

.search-form {
  display: flex;
  max-width: 576px;
  height: 50px;
  width: 100%;
  position: relative;

  &::before {
    @include pseudo;
    background-image: url(../images/icons/icon-search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 15px;
  }

  @include max-w($xl) {
    margin-bottom: 10px;
  }

  @include max-w($l) {
    width: 100%;
    display: none;
  }

  &--active {
    transition: transform 0.5s;
    position: relative;
  }

  @include max-w($l) {
    &--active {
      position: absolute;
      top: 118px;
      display: block;
      z-index: 21;
    }
  }

  &__label {
    position: relative;
  }

  &__input {
    max-width: 418px;
    width: 100%;
    padding: 13px 13px 13px 51px;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: transparent;
    transition: box-shadow 0.5s;

    &::placeholder {
      font-size: 14px;
      line-height: 1.4;
      font-family: inherit;
      font-weight: 400;
      letter-spacing: 0.03em;
      color: $dark-800;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }
  }

  &__btn {
    padding: 15px 50px;
    border-radius: 0 6px 6px 0;
    background-color: $dark-800;
    line-height: 1.4;
    font-size: 14px;
    color: $white;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 600;
    transition: box-shadow 0.5s, background-color 0.5s;

    @include max-w($m) {
      padding: 15px 26px;
      border-radius: 0;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  & > .user-nav__item:first-child {
    display: none;

    @include max-w($l) {
      display: block;
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: box-shadow 0.5s, background-color 0.5s;

    &::before {
      @include pseudo;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%;
      left: 50%;
      width: 32px;
      height: 32px;
      transform: translate(-50%, -50%);
      transition: box-shadow 0.5s, background-color 0.5s, filter 0.5s, opacity 0.5s;
    }

    &--search::before {
      background-image: url(../images/sprite.svg#icon-search);
      width: 70px;
      height: 70px;
      filter: invert(100%) sepia(11%) saturate(7404%) hue-rotate(170deg) brightness(110%) contrast(118%);
    }

    &--user::before {
      background-image: url(../images/icons/icon-user.svg);
    }

    &--favorites::before {
      background-image: url(../images/icons/icon-heart.svg);
    }

    &--cart::before {
      background-image: url(../images/icons/icon-cart.svg);
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $green-100;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &:active {
      opacity: 0.5;
      filter: drop-shadow(0 4px 4px rgba($black, 0.25));
    }
  }

  &__num {
    position: absolute;
    padding: 4px 3px;
    border-radius: 50%;
    background-color: $white;
    left: 3px;
    top: 3px;
    font-size: 10px;
    color: $red-900;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: right;
  }

  &__itemnone {
    @include max-w($l) {
      display: none;
    }
  }
}

.top-slider {
  &__items {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__item {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    @include max-w($l) {
      min-height: 300px;
    }
  }

  &__content {
    flex-basis: auto;
    flex-grow: 1;
    padding: 24px 0 24px 24px;
    background-color: rgba($white, 0.8);
    border-radius: 4px;

    @include max-w($l) {
      margin: 0 -18px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1.3;
    font-family: $ruda;
    font-weight: 900;
    color: $dark-500;
    text-transform: uppercase;
    max-width: 761px;
    margin-bottom: 12px;
    @include line-clamp(3);

    @include max-w($l) {
      font-weight: 600;
      font-size: 20px;
    }
  }
  &__subtitle {
    display: block;
    color: $red-900;
    @include line-clamp(2);

    @include max-w($l) {
      font-weight: 600;
    }
  }

  &__text {
    color: $dark-500;
    margin-bottom: 32px;
    @include line-clamp(2);
  }

  &__btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    outline: transparent;
    background-color: rgba($white, 0.8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: box-shadow 0.5s, background-color 0.5s;

    @include max-w($xl) {
      display: none;
    }

    &--next {
      right: 60px;
    }

    &--prev {
      left: 60px;
      z-index: 20;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($green-1000, 0.5);
    }

    &:hover {
      background-color: $green-200;
    }

    &:hover svg {
      fill: $green-900;
    }

    &:active {
      background-color: $silver-100;
      fill: $green-900;
    }
  }

  &__arrow {
    position: absolute;
    width: 18px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.5s;

    &--prev {
      transform: translate(-50%, -50%);
    }

    &:focus {
      fill: $dark-500;
    }

    &:active {
      fill: $green-900;
    }

    &:disabled {
      fill: $silver-600;
    }
  }

  & .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    left: 45%;
    bottom: 15px;
    transform: scale(0);

    @include max-w($l) {
      transform: scale(1);
    }
  }

  & .slick-dots button {
    font-size: 0;
    margin: 0 6px;
    border-radius: 50%;
    width: 10px;
    height: 14px;
    background-color: $white;
    border: 1px solid $silver-600;
  }

  & .slick-active button {
    border: 1px solid $green-900;
    background-color: $green-900;
    transition: all 0.5s;
  }
}

.delivery {
  background-color: $silver-100;

  &__inner {
    padding: 48px 0 29px;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include max-w($l) {
      justify-content: stretch;
    }
  }

  &__item {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    position: relative;

    @include max-w($l) {
      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }

    &::before {
      @include pseudo;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--delivery::before {
      background-image: url(../images/icons/icon-delivery.svg);
    }

    &--return::before {
      background-image: url(../images/icons/icon-return.svg);
    }

    &--support::before {
      background-image: url(../images/icons/icon-support.svg);
    }

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__title {
    display: block;
    color: $dark-900;
    font-size: 16px;
    line-height: 1.4;
    font-family: inherit;
    font-weight: 600;
    margin-bottom: 7px;
    @include line-clamp(2);
  }

  &__text {
    color: $dark-500;
    font-size: 14px;
    line-height: 1.4;
    font-family: inherit;
    font-weight: 400;
    @include line-clamp(2);
  }
}

.products {
  text-align: center;
  padding: 72px 0;

  @include max-w($l) {
    padding: 48px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 18px;

    @include max-w($l) {
      justify-self: center;
      margin: 0 -2px 18px -2px;
    }
  }

  &__item {
    margin: 0 2px 30px 2px;
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  flex-wrap: wrap;

  @include max-w($m) {
    margin-bottom: 24px;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    padding: 0;
    font-size: 15px;
    line-height: 1.4;
    color: $dark-500;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: box-shadow 0.5s, color 0.5s;

    @include max-w($l) {
      font-size: 14px;
    }
  }

  .mixitup-control-active {
    border-bottom: 3px solid rgba($green-900, 0.2);
  }
}

.badge {
  display: block;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  color: $white;
  background-color: $green-900;
  padding: 3px 6px;
  border-radius: 6px;
  letter-spacing: 0.03em;
  margin-bottom: 6px;

  &--red {
    display: block;
    max-width: 37px;
    background-color: $red-900;
  }

  &--orange {
    display: block;
    max-width: 34px;
    background-color: $orange-900;
  }
}

.new-price {
  display: block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 400;
  color: $dark-500;

  &--stock {
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    margin-right: 12px;
  }
}

.old-price {
  display: block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 400;
  color: $silver-600;
  position: relative;
  margin-bottom: 3px;

  &--stock {
    font-size: 12px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
  }

  &::before {
    @include pseudo;
    top: 6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $silver-600;
    transform: rotate(-15deg);
  }
}

.cart-btn {
  position: absolute;
  right: 18px;
  bottom: 18px;
  background-color: $green-900;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  transition: box-shadow 0.5s, background-color 0.5s;

  &:active svg {
    opacity: 0.5;
  }

  & svg {
    fill: $white;
    width: 16px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-5%, 7%);
    transition: opacity 0.5s;
  }
}

.favorites-btn {
  position: absolute;
  top: 9px;
  right: 7px;
  width: 44px;
  height: 44px;
  transition: box-shadow 0.5s;

  & svg {
    fill: $silver-600;
    width: 32px;
    height: 28px;
    top: 50%;
    left: 50%;
    transform: translate(0, 10%);
    transition: fill 0.5s;
  }

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &:hover svg {
    fill: $yellow-900;
  }

  &:active svg {
    fill: rgba($yellow-900, 0.5);
  }
}

.product-card {
  padding: 57px 0 18px;
  max-width: 300px;
  border: 1px solid rgba($silver-600, 0.2);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: border-color 0.5s;

  @include max-w($l) {
    max-width: 170px;
  }

  &:hover {
    border-color: $green-900;
  }

  &__badge {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__link {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 298px;
      height: 225px;
      background-color: rgba($black, 0.1);
      left: -149px;
      right: 0;
      top: 0;
      z-index: 5;
      transform: scale(0);
      transition: transform 0.2s;
    }

    &::before {
      position: absolute;
      content: "";
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      background-image: url(../images/icons/icon-searchcard.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: -24px;
      top: 88px;
      z-index: 26;
      transform: scale(0);
      transition: transform 0.2s;
    }

    &:hover::after {
      transform: scale(1);
    }

    &:hover::before {
      transform: scale(1);
    }
  }

  &__images {
    background-repeat: no-repeat;
    object-fit: contain;
    margin-bottom: 8px;

    @include max-w($m) {
      width: 170px;
      height: 120px;
    }
  }

  &__info {
    padding: 0 18px;
    min-height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__price {
    position: absolute;
    left: 21px;
    bottom: 18px;
  }
}

.product-title {
  font-size: 14px;
  line-height: 1.4;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: left;
  @include line-clamp(3);

  &--stock {
    width: 168px;
  }
}

.offer {
  padding-bottom: 72px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 4px;
    min-height: 300px;
    flex-basis: 300px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    flex-grow: 1;

    &:nth-child(1) {
      flex-grow: 2;
    }

    &:nth-child(2) {
    }

    &:nth-child(3) {
    }
  }

  &__content {
    max-width: 346px;

    &--little {
      max-width: 178px;
    }

    // вот тут что то не задалось с цветом, не задается через модификатор всему блоку, пришлось каждому прописывать
    &--whitetext {
      color: $white;

      .offer__title {
        text-shadow: 2px 2px 0 rgba($black, 0.25);
        color: $white;
      }

      .offer__subtitle {
        text-shadow: 1px 1px 0 rgba($black, 0.25);
        color: $white;
      }

      .offer__link {
        border-bottom: 2px solid $white;
        text-shadow: 1px 1px 0 rgba($black, 0.25);
        color: $white;
      }
    }
  }

  &__subtitle {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $dark-500;
    @include line-clamp(1);
  }

  &__title {
    margin-top: 18px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.4;
    color: $dark-500;
    font-family: $ruda;
    font-weight: 600;
    margin-bottom: 12px;
    @include line-clamp(2);
  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    color: $dark-500;
    font-family: inherit;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 2px solid $dark-500;
  }
}

.stock {
  padding: 72px 0;
  text-align: center;
  background-color: $silver-100;

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 18px;

    @include max-w($l) {
      justify-content: center;
    }
  }

  &__item {
    margin-bottom: 30px;

    @include max-w($l) {
      margin: 0 2px 15px 2px;
    }
  }
}

.stock-card {
  &__link {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 12px;
    max-width: 300px;
    border: 1px solid rgba($silver-600, 0.2);
    border-radius: 6px;
    position: relative;
    transition: border-color 0.5s;
    background-color: $white;

    &:hover {
      border-color: $green-900;
    }
  }

  &__badge {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__images {
    object-fit: contain;
    margin-right: 12px;
  }

  &__price {
    display: flex;
    align-items: flex-end;
  }

  &__rating {
    position: absolute;
    bottom: 13px;
    right: 32px;
  }

  &__text {
    position: relative;
    font-size: 14px;
    line-height: 1;
    font-family: inherit;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      right: -20px;
      top: 1px;
      background-image: url(../images/icons/icon-star.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.availability {
  display: block;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: $green-900;
  text-align: left;
  margin-bottom: 5px;

  &--red {
    color: $red-900;
  }

  &--gray {
    color: $silver-600;
  }
}

.partners {
  padding: 72px 0;

  @include max-w($l) {
    padding: 48px 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    width: 80px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    transition: opacity 0.5s;

    @include max-w($m) {
      &:not(:nth-child(-n + 2)) {
        display: none;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}

// можно коммент по адаптации секции новостей! у мегя десктоп сделан на флексах + джастифи спейс бетвин+флекс врап врап! когда я сужаю экран у меня элементы не переместятся друг под друга, пока не столкнутся между собой! как лучше верстать эту секцию изначально? задать не спейс бетвин а маргины вправо кроме последнего? или как лучше? маргины всем кроме последнего тоже не очень, тк при перескакивании криво все становится (два верхних ровные - нижний смещено на размер маргина! Спасибо)
.news {
  padding-bottom: 72px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include max-w($xl) {
      justify-content: space-around;
    }

    @include max-w($m) {
      flex-direction: column;
    }
  }

  &__all {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    transition: color 0.5s, border-color 0.5s, box-shadow 0.5s;

    @include max-w($m) {
      margin-bottom: 24px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: $green-1000;
      border-color: $green-900;
    }

    &:active {
      border-color: $green-200;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include max-w($m) {
      justify-content: center;
    }
  }

  &__item {
    max-width: 410px;
    box-shadow: 0 3px 3px rgba($black, 0.25);
    border-radius: 6px;
    position: relative;

    @include max-w($xl) {
      margin: 0 5px 15px;
    }

    &:hover .news__title {
      color: $green-900;
    }
  }

  &__link {
    margin-bottom: 18px;
    display: block;
  }

  &__images {
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-bottom: 18px;
    border-radius: 6px 6px 0 0;
  }

  &__title {
    padding: 0 18px;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    font-weight: 600;
    color: $dark-900;
    @include line-clamp(3);
    transition: color 0.5s;

    @include max-w($l) {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__data {
    padding: 18px 0 10px;
    width: 65px;
    height: 76px;
    background-color: $white;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 0;
    left: 18px;
  }

  &__month {
    text-align: center;
    display: block;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: $dark-900;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;

    &--num {
      font-size: 30px;
      line-height: 1;
      font-family: $ruda;
      font-weight: 600;
      letter-spacing: 0;
    }
  }
}

.footer {
  background-color: $dark-800;
  padding-top: 30px;

  &__logobox {
    @include max-w($l) {
      display: flex;
      justify-content: center;
    }
  }

  &__box {
    position: relative;

    @include max-w($m) {
      order: 1;
      padding-top: 24px;
    }

    @include max-w($s) {
      &::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: rgba($white, 0.1);
      }
    }
  }

  &__inner {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max-w($m) {
      justify-content: center;
    }
  }

  &__text {
    margin-bottom: 18px;
    font-family: inherit;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    line-height: 1;
    @include line-clamp(5);
  }

  &__form {
    display: flex;
    max-width: 306px;
    width: 100%;
    height: 40px;
    position: relative;
  }

  &__input {
    max-width: 181px;
    width: 100%;
    padding: 12px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: transparent;

    &::placeholder {
      font-family: inherit;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: $dark-800;
      letter-spacing: 0.03em;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }
  }

  &__menu {
    column-count: 3;
    column-gap: 75px;
    margin-left: 75px;
    position: relative;

    @include max-w($l) {
      margin-left: 0;
      padding: 24px 0 6px;
    }

    @include max-w($m) {
      column-count: 2;
      column-gap: 50px;
    }

    @include max-w($s) {
      &::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: rgba($white, 0.1);
      }
    }
  }

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    font-family: inherit;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    line-height: 1.4;
    transition: box-shadow 0.5s, color 0.5s, opacity 0.5s;
  }

  &__bottom {
    border-top: 1px solid rgba($white, 0.1);
  }

  &__bottom-inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-w($m) {
      flex-direction: column;
      padding: 24px 0;
    }
  }

  &__bottom-copy {
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 400;
    color: $white;
  }

  &__bottom-accept {
    display: flex;

    @include max-w($m) {
      order: -1;
      margin-bottom: 24px;
    }
  }

  &__bottom-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__bottom-item:not(:last-child) {
    margin-right: 24px;
  }

  &__bottom-item-visa {
    width: 93px;
    height: 29px;
  }

  &__bottom-item-mc {
    width: 49px;
    height: 29px;
  }
}

.address {
  @include max-w($l) {
    padding-bottom: 24px;
  }

  @include max-w($m) {
    order: -1;
  }

  &__contacts-item {
    margin-bottom: 18px;
  }

  &__contacts-link {
    font-family: inherit;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    line-height: 1.4;
  }
}

.social {
  display: flex;
  margin-right: 53px;

  @include max-w($xl) {
    justify-content: center;
    margin-right: 0;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 3px;
    position: relative;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  & svg {
    fill: $white;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.5s;

    &:hover {
      fill: rgba($white, 0.7);
    }

    &:active {
      fill: $green-200;
    }
  }
}

.breadcrumbs {
  padding: 24px 0;
  background-color: $silver-100;

  &__list {
    display: flex;
  }

  &__item:nth-child(1) {
    padding-right: 16px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 6px;
      height: 10px;
      top: 5px;
      right: 4px;
      background-image: url(../images/icons/icon-chevron.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-style: inherit;
    font-weight: 400;
    color: $dark-500;
  }
}
