    <section class="catalog">

      <div class="container">
        <h1 class="catalog__title">Каталог товаров</h1>

        <div class="catalog__inner">
          <div class="catalog__filter">
            <button class="catalog__closebtn" type="button">
              <span class="sr-only">закрыть окно меню</span>
            </button>
            <div class="categories">
              <button class="categories__btn btn" type="menu">Категории</button>
              <ul class="categories__list">
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Овощи и фрукты
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Бакалея
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Молочные продукты
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Хлеб
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Колбаса
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Рыба
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Алкоголь
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Напитки
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Торты
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Чай, кофе
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Алкоголь
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Напитки
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Торты
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="categories__item">
                  <a class="categories__link" href="#">
                    Чай, кофе
                  </a>
                </li>
              </ul>
            </div>

            <div class="offer-filter">
              <button class="offer-filter__btn btn">
                Предложения
              </button>
              <form class="offer-filter__form">
                <ul class="offer-filter__list">
                  <li class="offer-filter__item">
                    <label class="offer-filter__label" for="sael">
                      <input class="offer-filter__input" type="checkbox" id="sael">
                      <span class="offer-filter__checkbox"></span>
                      Со скидкой
                    </label>
                  </li>

                  <li class="offer-filter__item">
                    <label class="offer-filter__label" for="new">
                      <input class="offer-filter__input" type="checkbox" id="new" checked>
                      <span class="offer-filter__checkbox"></span>
                      Новинка
                    </label>
                  </li>

                  <li class="offer-filter__item">
                    <label class="offer-filter__label" for="hit">
                      <input class="offer-filter__input" type="checkbox" id="hit">
                      <span class="offer-filter__checkbox"></span>
                      Хит
                    </label>
                  </li>
                </ul>
              </form>
            </div>

            <div class="brands">
              <button class="brands__btn btn">
                Бренд
              </button>
              <form class="brands">
                <ul class="brands__list">
                  <li class="brands__item">
                    <label class="brands__label" for="cola">
                      <input class="brands__input" type="checkbox" id="cola">
                      <span class="brands__checkbox"></span>
                      Coca-Cola
                    </label>
                  </li>

                  <li class="brands__item">
                    <label class="brands__label" for="pepsi">
                      <input class="brands__input" type="checkbox" id="pepsi">
                      <span class="brands__checkbox"></span>
                      Pepsi
                    </label>
                  </li>

                  <li class="brands__item">
                    <label class="brands__label" for="sprite">
                      <input class="brands__input" type="checkbox" id="sprite">
                      <span class="brands__checkbox"></span>
                      Sprite
                    </label>
                  </li>

                  <li class="brands__item">
                    <label class="brands__label" for="fanta">
                      <input class="brands__input" type="checkbox" id="fanta">
                      <span class="brands__checkbox"></span>
                      Fanta
                    </label>
                  </li>

                  <li class="brands__item">
                    <label class="brands__label" for="bull">
                      <input class="brands__input" type="checkbox" id="bull">
                      <span class="brands__checkbox"></span>
                      RedBull
                    </label>
                  </li>

                  <li class="brands__item">
                    <label class="brands__label" for="pepper">
                      <input class="brands__input" type="checkbox" id="pepper">
                      <span class="brands__checkbox"></span>
                      Dr Pepper
                    </label>
                  </li>
                </ul>
              </form>
            </div>



            <div class="price__filter">
              <button class="price-filter__btn btn">
                Цена
              </button>
              <form class="price-filter__form">
                <div class="price-filter__list">
                  <div class="price-filter__area">
                    <label class="price-filter__label">
                      от
                      <input type="text" class="price-filter__from price-filter__input" value="0" />
                      ₽
                    </label>
                    <label class="price-filter__label">
                      до
                      <input type="text" class="price-filter__to price-filter__input" value="0" />
                      ₽
                    </label>
                  </div>
                  <div class="price-filter__slider">
                    <input type="text" class="price-filter__sliderinput" value="" />
                  </div>
                </div>
              </form>
            </div>

          </div>


          <div class="shop-content">
            <div class="shop-content__filter">

              <button class="shop-content__catalogbtn">
                <span class="sr-only">открыть фильтр товаров</span>
              </button>

              <form class="shop-content__form" action="">
                <select class="shop-content__sort select-style__sort">
                  <option value="#">По названию</option>
                  <option value="#">По популярности</option>
                  <option value="#">Сначала дешевые</option>
                  <option value="#">Сначала дорогие</option>
                  <option value="#">По алфавиту</option>
                </select>

                <select class="shop-content__show select-style__show">
                  <option value="#">по 12</option>
                  <option value="#">по 18</option>
                  <option value="#">по 24</option>
                  <option value="#">по 30</option>
                  <option value="#">по 36</option>
                </select>
              </form>


              <button class="shop-content__filter-btn shop-content__filter-btn-list">
                <svg class="shop-content__svg">
                  <use xlink:href="images/sprite.svg#icon-line"></use>
                </svg>
              </button>
              <button class="shop-content__filter-btn shop-content__filter-btn--active shop-content__filter-btn-grid">
                <svg class="shop-content__svg">
                  <use xlink:href="images/sprite.svg#icon-grid"></use>
                </svg>
              </button>
            </div>


            <div class="shop-content__inner">
              <div class="products__items">
                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/paprik.jpg"
                      width="300" height="225" alt="Перец оранжевый">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Перец оранжевый, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">349<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>


                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                    <span class="badge badge--red">-50%</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link" href="#">
                    <img class="product-card__images product-card__images--catalog" src="images/products/pineapple.jpg"
                      width="300" height="225" alt="Ананас">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Ананас, 1кг</h3>

                    <div class="product-card__price">
                      <span class="old-price">1999<span>₽</span></span>
                      <span class="new-price">999<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">
                  <div class="product-card__badge">
                    <span class="badge badge--orange">хит</span>
                  </div>
                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog"
                      src="images/products/dragonfruit.jpg" width="300" height="225"
                      alt="Питахайя красная с белой мякотью">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Питахайя красная с белой мякотью, 1шт</h3>

                    <div class="product-card__price">
                      <span class="new-price">1019<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/ketchup.jpg"
                      width="300" height="225" alt="Кетчуп томатный детский органический">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт</h3>

                    <div class="product-card__price">
                      <span class="new-price">600<span>₽</span></span>
                    </div>
                  </div>


                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge badge--orange">хит</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/carrot.jpg"
                      width="300" height="225" alt="Морковь молодая с бабушкиной грядки">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Морковь молодая с бабушкиной грядки, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">49<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge badge--red">-30%</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/juice.jpg"
                      width="300" height="225" alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
                      безалкогольн...</h3>

                    <div class="product-card__price">
                      <span class="old-price">299<span>₽</span></span>
                      <span class="new-price">199<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/cofee.jpg"
                      width="300" height="225" alt="Кофе с коноплей органический Caffé Salomoni">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Кофе с коноплей органический Caffé Salomoni 250г</h3>

                    <div class="product-card__price">
                      <span class="new-price">877<span>₽</span></span>
                    </div>
                  </div>


                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/paprik.jpg"
                      width="300" height="225" alt="Перец оранжевый">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Перец оранжевый, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">349<span>₽</span></span>
                    </div>
                  </div>


                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/paprik.jpg"
                      width="300" height="225" alt="Перец оранжевый">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Перец оранжевый, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">349<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/paprik.jpg"
                      width="300" height="225" alt="Перец оранжевый">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Перец оранжевый, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">349<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart"></use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/paprik.jpg"
                      width="300" height="225" alt="Перец оранжевый">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Перец оранжевый, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">349<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </article>

                <article class="product-card product-card--height  product-card--bottom product-card--bottomcatalog">

                  <div class="product-card__badge">
                    <span class="badge">новинка</span>
                  </div>

                  <button class="favorites-btn" type="button">
                    <span class="sr-only">добавить в избранные
                      товары</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-heart">
                      </use>
                    </svg>
                  </button>

                  <a class="product-card__link">
                    <img class="product-card__images product-card__images--catalog" src="images/products/paprik.jpg"
                      width="300" height="225" alt="Перец оранжевый">
                  </a>

                  <div class="product-card__info">
                    <h3 class="product-title">Перец оранжевый, 1кг</h3>

                    <div class="product-card__price">
                      <span class="new-price">349<span>₽</span></span>
                    </div>
                  </div>

                  <div class="stock-card__availability stock-card__availability--posision">
                    <span class="availability">в наличии</span>
                  </div>

                  <div class="stock-card__rating stock-card__rating--posision">
                    <span class="stock-card__text">4.9</span>
                  </div>

                  <button class="cart-btn animation-btn" type="button">
                    <span class="sr-only">добавить в корзину
                      товаров</span>
                    <svg>
                      <use xlink:href="images/sprite.svg#icon-cart">
                      </use>
                    </svg>
                  </button>
                </article>

              </div>
            </div>

            <div class="pagination">
              <button class="button animation-btn" type="button">Показать еще</button>

              <div class="pagination__content">
                <a class="pagination__arrows pagination__arrows--prev" href="#">

                </a>

                <ul class="pagination__list">
                  <li class="pagination__item pagination__item--active">
                    <a class="pagination__link" href="#">
                      1
                    </a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#">
                      2
                    </a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#">
                      ...
                    </a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#">
                      9
                    </a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#">
                      10
                    </a>
                  </li>
                </ul>

                <a class="pagination__arrows pagination__arrows--next" href="#">

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>