  <header class="header">
    <nav class="header__nav">
      <div class="header__top">
        <div class="container">
          <div class="header__topinner">

            <button class="burger-btn" type="button">
              <span class="sr-only">открыть окно меню</span>
            </button>

            <address class="header-address">
              <a class="address-link address-link--address animation-text" href="#">
                адрес и время доставки
              </a>
              <a class="hotline-link hotline-link--tel animation-text" href="tel:+7907288365">
                горячая линия 24/7
              </a>
            </address>
            <ul class="menu">
              <li class="menu__item">
                <a class="menu__link animation-text" href="#">
                  доставка
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link animation-text" href="#">
                  о нас
                </a>
              </li>
              <li class="menu__item">
                <a class="menu__link animation-text" href="#">
                  новости
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header__bottom">
        <div class="container">
          <div class="header__bottom-inner">
            <a class="logo" href="#">
              <picture>
                <source srcset="images/icons/icon-logomini.svg" media="(max-width: 1024px)" sizes="max-width: 36px">
                <source srcset="images/icons/icon-logo.svg" sizes="max-width: 200px">
                <img class="logo__miniimg" srcset="images/icons/icon-logo.svg" alt=" Логотип онлайн-маркета Фрешок">
              </picture>
            </a>

            <div class="header__bottom-dropdownmenu">
              <button class="header__catalog-btn" type="button">
                Каталог продуктов
              </button>
              <ul class="dropdownmenu">
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Овощи и фрукты
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Бакалея
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Молочные продукты
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Хлеб
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Колбаса
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Рыба
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Алкоголь
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Напитки
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Торты
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Мясо
                  </a>
                </li>
                <li class="dropdownmenu__item">
                  <a class="dropdownmenu__link" href="#">
                    Чай, кофе
                  </a>
                </li>
              </ul>
            </div>

            <form class="search-form">
              <label class="search-form__label" for="search">
                <span class="sr-only">Найти в магазине</span>
              </label>
              <input class="search-form__input" id="search" type="search" name="search"
                placeholder="Найти в магазине ..." required>
              <button class="search-form__btn" type="submit">поиск</button>
            </form>

            <ul class="user-nav">
              <li class="user-nav__item">
                <button class="user-nav__btn user-nav__btn--search" type="button">
                  <span class="sr-only">открыть поисковую строку</span>
                </button>
              </li>
              <li class="user-nav__item user-nav__itemnone">
                <button class="user-nav__btn user-nav__btn--user" type="button">
                  <span class="sr-only">открыть меню пользователя</span>
                </button>
              </li>
              <li class="user-nav__item user-nav__itemnone">
                <button class="user-nav__btn user-nav__btn--favorites" type="button">
                  <span class="sr-only">войти в избранные товары</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
              <li class="user-nav__item">
                <button class="user-nav__btn user-nav__btn--cart" type="button">
                  <span class="sr-only">открыть корзину с товарами</span>
                  <span class="user-nav__num">12</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>