    <section class="interested">
      <div class="container">
        <h2 class="interested__title">вас может заинтересовать</h2>

        <div class="interested__slider">
          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge badge--orange">хит</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/carrot.jpg"
                width="300" height="225" alt="Морковь молодая с бабушкиной грядки">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Морковь молодая с бабушкиной грядки, 1кг</h3>

              <div class="product-card__price">
                <span class="new-price">49<span>₽</span></span>
              </div>
            </div>

            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge badge--red">-30%</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/juice.jpg"
                width="300" height="225" alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Напиток сокосодержащий Sanpellegrino Aranciata
                Orange Красный апельсин
                безалкогольн...</h3>

              <div class="product-card__price">
                <span class="old-price">299<span>₽</span></span>
                <span class="new-price">199<span>₽</span></span>
              </div>
            </div>

            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge">новинка</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/cofee.jpg"
                width="300" height="225" alt="Кофе с коноплей органический Caffé Salomoni">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Кофе с коноплей органический Caffé
                Salomoni 250г</h3>

              <div class="product-card__price">
                <span class="new-price">877<span>₽</span></span>
              </div>
            </div>


            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge">новинка</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные
                товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart">
                </use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/cofee.jpg"
                width="300" height="225" alt="Кофе с коноплей органический Caffé Salomoni">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Кофе с коноплей
                органический Caffé Salomoni 250г</h3>

              <div class="product-card__price">
                <span class="new-price">877<span>₽</span></span>
              </div>
            </div>


            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину
                товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart">
                </use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge badge--orange">хит</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/carrot.jpg"
                width="300" height="225" alt="Морковь молодая с бабушкиной грядки">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Морковь молодая с бабушкиной грядки, 1кг</h3>

              <div class="product-card__price">
                <span class="new-price">49<span>₽</span></span>
              </div>
            </div>

            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge badge--red">-30%</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/juice.jpg"
                width="300" height="225" alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Напиток сокосодержащий Sanpellegrino Aranciata
                Orange Красный апельсин
                безалкогольн...</h3>

              <div class="product-card__price">
                <span class="old-price">299<span>₽</span></span>
                <span class="new-price">199<span>₽</span></span>
              </div>
            </div>

            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge">новинка</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/cofee.jpg"
                width="300" height="225" alt="Кофе с коноплей органический Caffé Salomoni">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Кофе с коноплей органический Caffé
                Salomoni 250г</h3>

              <div class="product-card__price">
                <span class="new-price">877<span>₽</span></span>
              </div>
            </div>


            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </article>

          <article class="product-card product-card--height">

            <div class="product-card__badge">
              <span class="badge">новинка</span>
            </div>

            <button class="favorites-btn" type="button">
              <span class="sr-only">добавить в избранные
                товары</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-heart">
                </use>
              </svg>
            </button>

            <a class="product-card__link">
              <img class="product-card__images product-card__images--catalog" src="images/products/cofee.jpg"
                width="300" height="225" alt="Кофе с коноплей органический Caffé Salomoni">
            </a>

            <div class="product-card__info">
              <h3 class="product-title">Кофе с коноплей
                органический Caffé Salomoni 250г</h3>

              <div class="product-card__price">
                <span class="new-price">877<span>₽</span></span>
              </div>
            </div>


            <div class="stock-card__availability stock-card__availability--posision">
              <span class="availability">в наличии</span>
            </div>

            <div class="stock-card__rating stock-card__rating--posision">
              <span class="stock-card__text">4.9</span>
            </div>

            <button class="cart-btn animation-btn" type="button">
              <span class="sr-only">добавить в корзину
                товаров</span>
              <svg>
                <use xlink:href="images/sprite.svg#icon-cart">
                </use>
              </svg>
            </button>
          </article>
        </div>
      </div>
    </section>