  <div class="mobile-menu">
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__top">
        <a class="logo" href="#">
          <picture>
            <source srcset="images/icons/icon-mobilelogo.svg" sizes="min-width: 200px">
            <img class="logo__mobileimg" srcset="images/icons/icon-mobilelogo.svg" alt="Логотип онлайн-маркета Фрешок">
          </picture>
        </a>

        <button class="mobile-menu__closebtn" type="button">
          <span class="sr-only">закрыть окно меню</span>
        </button>
      </div>
    </div>

    <div class="mobile-menu__usernav">
      <div class="mobile-menu__wrapper">
        <div class="mobile-menu__content">
          <button class="mobile-menu__btn" type="button" style="background-image: url(images/icons/icon-user.svg);">
            <span class="sr-only">открыть пользовательское меню</span>
          </button>
          <a class="mobile-menu__login" href="#">
            Вход
          </a>

          <a class="mobile-menu__registration" href="#">
            Регистрация
          </a>
        </div>
      </div>
    </div>

    <button class="mobile-menu__catalog-btn" type="button">
      Каталог продуктов
    </button>

    <address class="address address--mobile">
      <ul class="address__contacts">
        <li class="address__contacts-item">
          <a class="address__contacts-link address__contacts-link--tel animation-text" href="tel:+7907288365">+7
            907 288 365</a>
        </li>
        <li class="address__contacts-item">
          <a class="address__contacts-link address__contacts-link--map animation-text" href="#">Санкт-Петербург, ул.
            Ленина,
            1</a>
        </li>
      </ul>

      <ul class="social social--black">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <svg>
              <use xlink:href="images/sprite.svg#icon-facebook"></use>
            </svg>
            <span class="sr-only">
              ссылка на страницу facebook
            </span>
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <svg>
              <use xlink:href="images/sprite.svg#icon-youtube"></use>
            </svg>
            <span class="sr-only">
              ссылка на страницу youtube
            </span>
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <svg>
              <use xlink:href="images/sprite.svg#icon-telegram"></use>
            </svg>
            <span class="sr-only">
              ссылка на страницу telegram
            </span>
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <svg>
              <use xlink:href="images/sprite.svg#icon-instagram"></use>
            </svg>
            <span class="sr-only">
              ссылка на страницу instagram
            </span>
          </a>
        </li>
      </ul>
    </address>

    <ul class="mobile-menu__nav">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Доставка
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          О нас
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Новости
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Контакты
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Акции
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Вакансии
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Отзывы
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link animation-text" href="#">
          Публичная оферта
        </a>
      </li>
    </ul>
    </nav>
  </div>