    <section class="news">
      <div class="container">
        <div class="news__top">
          <h2 class="title">
            наши новости
          </h2>
          <a class="news__all" href="#">
            все новости
          </a>
        </div>

        <ul class="news__list">
          <li class="news__item">
            <article class="news-card">
              <a class="news-card__link" href="#">
                <time datetime="2021-07-15" class="news-card__data">
                  <span class="news-card__month">июль</span>
                  <span class="news-card__month news-card__month--num">15</span>
                </time>

                <img class="news-card__images" src="images/news/bg1.jpg" alt="Распродажа сезонных фруктов" width="410"
                  height="240">

                <h3 class="news-card__title">
                  Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не
                  разобрали!
                </h3>
              </a>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <a class="news-card__link" href="#">
                <time datetime="2021-05-07" class="news-card__data">
                  <span class="news-card__month">май</span>
                  <span class="news-card__month news-card__month--num">07</span>
                </time>

                <img class="news-card__images" src="images/news/bg2.jpg"
                  alt="Шикарнейший выбор манго в нашем онлайн-маркете" width="410" height="240">

                <h3 class="news-card__title">
                  Шикарнейший выбор манго в нашем онлайн-маркете
                </h3>
              </a>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <a class="news-card__link" href="#">
                <time datetime="2021-02-20" class="news-card__data">
                  <span class="news-card__month">февраль</span>
                  <span class="news-card__month news-card__month--num">20</span>
                </time>

                <img class="news-card__images" src="images/news/bg3.jpg" alt="Всё, что вы хотели знать о папайя"
                  width="410" height="240">

                <h3 class="news-card__title">
                  Всё, что вы хотели знать о папайя
                </h3>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </section>