    <div class="partners">
      <div class="container">
        <div class="swiperwrapper">
          <ul class="partners__list">
            <li class="partners__item">
              <img src="images/partners/sprite.svg" alt="Партнер спрайт">
            </li>
            <li class="partners__item">
              <img src="images/partners/drpepper.svg" alt="Партнер пеппер">
            </li>
            <li class="partners__item">
              <img src="images/partners/cocacola.svg" alt="Партнер кока-кола">
            </li>
            <li class="partners__item">
              <img src="images/partners/pepsi.svg" alt="Партнер пепси">
            </li>
            <li class="partners__item">
              <img src="images/partners/redbull.svg" alt="Партнер редбулл">
            </li>
            <li class="partners__item">
              <img src="images/partners/fanta.svg" alt="Партнер фанта">
            </li>
            <li class="partners__item">
              <img src="images/partners/sprite.svg" alt="Партнер спрайт">
            </li>
            <li class="partners__item">
              <img src="images/partners/drpepper.svg" alt="Партнер пеппер">
            </li>
            <li class="partners__item">
              <img src="images/partners/cocacola.svg" alt="Партнер кока-кола">
            </li>
            <li class="partners__item">
              <img src="images/partners/pepsi.svg" alt="Партнер пепси">
            </li>
            <li class="partners__item">
              <img src="images/partners/redbull.svg" alt="Партнер редбулл">
            </li>
            <li class="partners__item">
              <img src="images/partners/fanta.svg" alt="Партнер фанта">
            </li>
          </ul>
        </div>
      </div>
    </div>