    <section class="products" data-ref="container-1">
      <div class="container">
        <h2 class="title">
          топовые товары
        </h2>

        <ul class="mix-filter">
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter="all">
              все товары
            </button>
          </li>
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter=".category-a">
              фрукты
            </button>
          </li>
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter=".category-b">
              овощи
            </button>
          </li>
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter=".category-c">
              напитки
            </button>
          </li>
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter=".category-d">
              бакалея
            </button>
          </li>
        </ul>

        <ul class="products__items">
          <li class="products__item mix category-a">
            <article class="product-card">

              <div class="product-card__badge">
                <span class="badge">новинка</span>
                <span class="badge badge--red">-50%</span>
              </div>

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link" href="#">
                <img class="product-card__images" src="images/products/pineapple.jpg" width="300" height="225"
                  alt="Ананас">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Ананас, 1кг</h3>

                <div class="product-card__price">
                  <span class="old-price">1999<span>₽</span></span>
                  <span class="new-price">999<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-b">
            <article class="product-card">

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/lemon.jpg" width="300" height="225"
                  alt="Кислый лимон">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Лимон, 1кг</h3>

                <div class="product-card__price">
                  <span class="new-price">199<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-b">
            <article class="product-card">
              <div class="product-card__badge">
                <span class="badge badge--orange">хит</span>
              </div>
              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/dragonfruit.jpg" width="300" height="225"
                  alt="Питахайя красная с белой мякотью">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Питахайя красная с белой мякотью, 1шт</h3>

                <div class="product-card__price">
                  <span class="new-price">1019<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-c">
            <article class="product-card">

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/ketchup.jpg" width="300" height="225"
                  alt="Кетчуп томатный детский органический">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт</h3>

                <div class="product-card__price">
                  <span class="new-price">600<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-a">
            <article class="product-card">

              <div class="product-card__badge">
                <span class="badge badge--orange">хит</span>
              </div>

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/carrot.jpg" width="300" height="225"
                  alt="Морковь молодая с бабушкиной грядки">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Морковь молодая с бабушкиной грядки, 1кг</h3>

                <div class="product-card__price">
                  <span class="new-price">49<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-d">
            <article class="product-card">

              <div class="product-card__badge">
                <span class="badge badge--red">-30%</span>
              </div>

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/juice.jpg" width="300" height="225"
                  alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
                  безалкогольн...</h3>

                <div class="product-card__price">
                  <span class="old-price">299<span>₽</span></span>
                  <span class="new-price">199<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-a">
            <article class="product-card">

              <div class="product-card__badge">
                <span class="badge">новинка</span>
              </div>

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/cofee.jpg" width="300" height="225"
                  alt="Кофе с коноплей органический Caffé Salomoni">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Кофе с коноплей органический Caffé Salomoni 250г</h3>

                <div class="product-card__price">
                  <span class="new-price">877<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

          <li class="products__item mix category-d">
            <article class="product-card">

              <div class="product-card__badge">
                <span class="badge">новинка</span>
              </div>

              <button class="favorites-btn" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>

              <a class="product-card__link">
                <img class="product-card__images" src="images/products/paprik.jpg" width="300" height="225"
                  alt="Перец оранжевый">
              </a>

              <div class="product-card__info">
                <h3 class="product-title">Перец оранжевый, 1кг</h3>

                <div class="product-card__price">
                  <span class="new-price">349<span>₽</span></span>
                </div>
              </div>

              <button class="cart-btn animation-btn" type="button">
                <span class="sr-only">добавить в корзину товаров</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
              </button>
            </article>
          </li>

        </ul>

        <button class="button button--white animation-btn" type="button">Показать еще</button>
      </div>
    </section>