    <section class="product">
      <div class="container">
        <div class="product__item">
          <div class="product-slider">
            <div class="product-slider__inner">
              <ul class="product-slider__items">
                <li class="product-slider__item" data-fancybox="gallery">
                  <img class="product-slider__images" src="images/products/dragonfruit-big.jpg" alt="">
                </li>
                <li class="product-slider__item" data-fancybox="gallery">
                  <img class="product-slider__images" src="images/products/dragonfruit-big.jpg" alt="">
                </li>
                <li class="product-slider__item" data-fancybox="gallery">
                  <img class="product-slider__images" src="images/products/dragonfruit-big.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>

          <div class="product-content">

            <h1 class="product-content__title">Питахайя красная с белой мякотью</h1>

            <span class="badge badge--big badge--orange">хит</span>

            <div class="product-content__info">
              <div class="product-content__infostar">
                <span class="product-content__vendor">Код: 0111111</span>
                <div class="star" data-rateyo-rating="4"></div>
              </div>
              <span class="availability availability--big">в наличии</span>
            </div>

            <div class="product-content__price">
              <span class="new-price new-price--stock new-price--product">199<span>₽</span></span>
              <span class="old-price old-price--stock old-price--product">299<span>₽</span></span>
            </div>

            <div class="product-content__forminner">
              <form class="number" action="">
                <label class="sr-only" for="number">
                  выберете количество товаров
                </label>
                <input class="number__input" type="number" value="1" id="number" name="number" min="1">
                <button class="number__addcard button animation-btn" type="submit">добавить в корзину</button>
              </form>

              <button class="favorites-btn favorites-btn--product" type="button">
                <span class="sr-only">добавить в избранные товары</span>
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
              </button>
            </div>

            <p class="product-content__subtitle">Доставка и оплата</p>

            <ul class="product-content__text">
              <li class="product-content__items">
                <p>
                  Минимальная сумма заказа - 100 руб.
                </p>
              </li>
              <li class="product-content__items">
                <p>
                  Время доставки заказа - 60-120 мин.
                </p>
              </li>
              <li class="product-content__items">
                <p>
                  Оплата осуществляется только банковской картой.
                </p>
              </li>
              <li class="product-content__items">
                <p>
                  Окончательная сумма заказа формируется после сбора товаров.
                </p>
              </li>
            </ul>

            <a class="product-content__link" href="#">Подробнее </a>

          </div>
        </div>
      </div>

      <div class="product-tabs">
        <div class="product-tabs__line"></div>
        <div class="container">
          <div class="product-tabs__block">
            <ul class="product-tabs__top">
              <li class="product-tabs__top-item">
                <a class="product-tabs__top-link product-tabs__top-link--active" href="#tab-1">
                  описание
                </a>
              </li>
              <li class="product-tabs__top-item">
                <a class="product-tabs__top-link " href="#tab-2">
                  характеристики
                </a>
              </li>
              <li class="product-tabs__top-item">
                <a class="product-tabs__top-link" href="#tab-3">
                  отзывы (2)
                </a>
              </li>
            </ul>
            <div class="product-tabs__content">
              <div class="product-tabs__content-item product-tabs__content-item--active" id="tab-1">
                <ul class="product-tabs__description">
                  <li class="product-tabs__description-item">
                    <p>
                      Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                      укреплению иммунной
                      системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
                      противовоспалительное
                      действие, так как фрукт богат антиоксидантами. При употреблении питахайи, понижается уровень
                      сахара в крови, улучшается
                      зрение и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из
                      воды, способствует
                      снижению веса.
                    </p>
                  </li>
                  <li class="product-tabs__description-item">
                    <p>
                      Витамины: С, Е, РР, витамины группы В
                    </p>
                  </li>
                  <li class="product-tabs__description-item">
                    <p>
                      Микроэлементы: железо, калий, кальций, магний, фосфор
                    </p>
                  </li>
                  <li class="product-tabs__description-item">
                    <p>
                      Внешний вид товара может отличаться от изображений, представленных на сайте.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="product-tabs__content-item" id="tab-2">
                <ul class="product-tabs__specifications">
                  <li class="product-tabs__specifications-item">
                    <p>
                      <span>Вес:</span> 250-350 г;
                    </p>
                  </li>
                  <li class="product-tabs__specifications-item">
                    <p>
                      <span>Калорийность (на 100г):</span> 50 ккал;
                    </p>
                  </li>
                  <li class="product-tabs__specifications-item">
                    <p>
                      <span>Условия хранения:</span> температура от +3 до +8;
                    </p>
                  </li>
                  <li class="product-tabs__specifications-item">
                    <p>
                      <span>Другие названия:</span> Драконов фрукт, Глаз дракона;
                    </p>
                  </li>
                  <li class="product-tabs__specifications-item">
                    <p>
                      <span>Страна происхождения:</span> Вьетнам;
                    </p>
                  </li>
                  <li class="product-tabs__specifications-item">
                    <p>
                      <span>Срок хранения:</span> до 5 дней.
                    </p>
                  </li>
                </ul>
              </div>
              <div class="product-tabs__content-item" id="tab-3">
                <div class="product-tabs__reviews">
                  <p class="product-tabs__title">мнения наших клиентов</з>
                    <div class="reviews">
                      <div class="reviews__info">
                        <img class="reviews__images" src="images/avatar/avatar.jpg"
                          alt="фотография человека, написавшего отзыв" width="70" height="70">
                        <div class="reviews__infoname">
                          <p class="reviews__name">Андрей</p>
                          <p class="reviews__data">10.06.2021</p>
                        </div>
                        <div class="star reviews__info-star" data-rateyo-rating="4"></div>
                      </div>
                      <div class="reviews__content">
                        <p>Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!))
                        </p>
                      </div>
                    </div>

                    <div class="reviews">
                      <div class="reviews__info">
                        <img class="reviews__images" src="images/avatar/avatar.jpg"
                          alt="фотография человека, написавшего отзыв" width="70" height="70">
                        <div class="reviews__infoname">
                          <p class="reviews__name">Екатерина Белая</p>
                          <p class="reviews__data">7.06.2021</p>
                        </div>
                        <div class="star reviews__info-star" data-rateyo-rating="5"></div>
                      </div>
                      <div class="reviews__content">
                        <p>
                          Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но
                          нет. Вкус "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность -
                          пробовать
                          экзотические фрукты.
                        </p>
                      </div>
                    </div>
                </div>

                <div class="product-tabs__comment">
                  <form class="comment" action="#">
                    <p class="comment__title">оставить отзыв</p>



                    <span class="comment__label-title">Ваша оценка *</span>
                    <div class="comment__raiting"></div>

                    <div class="comment__formbox">
                      <label class="comment__textarea-label" for="">
                        Ваш отзыв *
                        <textarea class="comment__textarea" name="" id="" cols="30" rows="10"
                          placeholder="Введите текст отзыва"></textarea>
                      </label>

                      <div class="comment__box-input">
                        <label class="comment__text-label" for="text">
                          Имя
                        </label>
                        <input class="comment__text-input" type="text" placeholder="Введите ваше имя" id="text"
                          name="text">

                        <label class="comment__text-label" for="email">
                          Email *
                        </label>
                        <input class="comment__text-input" type="text" placeholder="youremail@mail.com" id="email"
                          name="email">

                      </div>
                    </div>

                    <label class="comment__save-label" for="save">
                      <input class="comment__save-input" type="checkbox" id="save">
                      <span class="comment__save-checkbox"></span>
                      Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих
                      комментариев.
                    </label>

                    <button class="comment__btn button animation-btn" type="submit">
                      Оставить отзыв
                    </button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>