    <section class="stock" data-ref="container-2">
      <div class="container">
        <h2 class="title">акции</h2>

        <ul class="mix-filter">
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter="all">
              все товары
            </button>
          </li>
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter=".category-x">
              новинки
            </button>
          </li>
          <li class="mix-filter__item">
            <button class="mix-filter__btn animation-filter" type="button" data-filter=".category-y">
              хиты
            </button>
          </li>
        </ul>

        <ul class="stock__info">
          <li class="stock__item mix category-x">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge">новинка</span>
                </div>

                <img class="stock-card__images" src="images/stock/pineapple.jpg" width="100" height="100" alt="Ананас">

                <div class="stock-card__content">
                  <h3 class="product-title product-title--stock">Ананас, 1кг</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability">в наличии</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">999<span>₽</span></span>
                      <span class="old-price old-price--stock">1999<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">4.5</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-y">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge">новинка</span>
                </div>

                <img class="stock-card__images" src="images/stock/coffee.jpg" width="100" height="100"
                  alt="Кофе с коноплей органический">


                <div class="stock-card__content">
                  <h3 class="product-title product-title--stock">Кофе с коноплей органический Caffé Salomoni 250г</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability availability--red">заканчивается</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">777<span>₽</span></span>
                      <span class="old-price old-price--stock">877<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">4.9</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-x">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge">новинка</span>
                </div>

                <img class="stock-card__images" src="images/stock/strawberry.jpg" width="100" height="100"
                  alt="Клубника">

                <div class="stock-card__content">

                  <h3 class="product-title product-title--stock">Клубника, 1 кг</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability availability--gray">нет в наличии</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">440<span>₽</span></span>
                      <span class="old-price old-price--stock">600<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">5.0</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-y">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge">новинка</span>
                </div>

                <img class="stock-card__images" src="images/stock/mango.jpg" width="100" height="100" alt="Манго">

                <div class="stock-card__content">

                  <h3 class="product-title product-title--stock">Манго, 1 шт</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability">в наличии</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">960<span>₽</span></span>
                      <span class="old-price old-price--stock">660<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">5.0</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-x">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge">новинка</span>
                </div>

                <img class="stock-card__images" src="images/stock/salmon.jpg" width="100" height="100" alt="Лосось">

                <div class="stock-card__content">

                  <h3 class="product-title product-title--stock">Лосось, 1 кг</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability">в наличии</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">999<span>₽</span></span>
                      <span class="old-price old-price--stock">1199<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">4.5</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-y">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge badge--orange">хит</span>
                </div>

                <img class="stock-card__images" src="images/stock/juice.jpg" width="100" height="100"
                  alt="Сок Granini овощной 100%">

                <div class="stock-card__content">

                  <h3 class="product-title product-title--stock">Сок Granini овощной 100%, 0.5л</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability availability--red">заканчивается</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">180<span>₽</span></span>
                      <span class="old-price old-price--stock">230<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">4.5</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-x">
            <article class="stock-card">
              <a class="stock-card__link" href="#">
                <div class="stock-card__badge">
                  <span class="badge badge--orange">хит</span>
                </div>

                <img class="stock-card__images" src="images/stock/basket.jpg" width="100" height="100"
                  alt="Фруктовая корзина">

                <div class="stock-card__content">

                  <h3 class="product-title product-title--stock">Фруктовая корзина, 1 шт</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability">в наличии</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">3990<span>₽</span></span>
                      <span class="old-price old-price--stock">5990<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">4.8</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>

          <li class="stock__item mix category-z">
            <article class="stock-card">
              <a class="stock-card__link">
                <div class="stock-card__badge">
                  <span class="badge badge--orange">хит</span>
                </div>

                <img class="stock-card__images" src="images/stock/pig.jpg" width="100" height="100"
                  alt="Свинина мякоть">

                <div class="stock-card__content">

                  <h3 class="product-title product-title--stock">Свинина мякоть, 1 кг</h3>

                  <div class="stock-card__info">
                    <div class="stock-card__availability">
                      <span class="availability">в наличии</span>
                    </div>

                    <div class="stock-card__price">
                      <span class="new-price new-price--stock">499<span>₽</span></span>
                      <span class="old-price old-price--stock">599<span>₽</span></span>
                    </div>

                    <div class="stock-card__rating">
                      <span class="stock-card__text">4.6</span>
                    </div>
                  </div>
                </div>
              </a>
            </article>
          </li>
        </ul>
      </div>

      <button class="button animation-btn" type="button">Показать еще</button>

    </section>