    <h1 class="sr-only">Онлайн-маркет Фрешок</h1>

    <section class="top-slider">
      <h2 class="sr-only">Акции и предложения</h2>
      <ul class="top-slider__inner">

        <li class="top-slider__items" style="background-image: url(images/top-slider/slider1.jpg);">
          <div class="container">
            <div class="top-slider__item">
              <div class="top-slider__content">
                <h3 class="top-slider__title">
                  свежачок вам в хату
                  <span class="top-slider__subtitle">
                    скидка -50%
                  </span>
                </h3>
                <div class="top-slider__text">
                  <p>
                    Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. торопитесь!
                  </p>
                </div>
                <a class="button animation-btn" href="#">
                  Купить сейчас
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="top-slider__items" style="background-image: url(images/top-slider/slider2.jpg);">
          <div class="container">
            <div class="top-slider__item">
              <div class="top-slider__content">
                <h3 class="top-slider__title">
                  накрути себе томатов
                  <span class="top-slider__subtitle">
                    акция: 3 кг по цене 1
                  </span>
                </h3>
                <div class="top-slider__text">
                  <p>
                    Только с 12 по 15 июля скидка на домашние помидорчики
                  </p>
                </div>
                <a class="button animation-btn" href="#">
                  Купить сейчас
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="top-slider__items" style="background-image: url(images/top-slider/slider3.jpg);">
          <div class="container">
            <div class="top-slider__item">
              <div class="top-slider__content">
                <h3 class="top-slider__title">
                  пусть остальные
                  позеленеют от зависти
                  <span class="top-slider__subtitle">
                    распродажа зелени
                  </span>
                </h3>
                <div class="top-slider__text">
                  <p></p>
                </div>
                <a class="button animation-btn" href="#">
                  Купить сейчас
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>